@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    background-color: #db9f2b;
    clip-path: circle(55.9% at 78% 14%);
}

body{
    background-color: #131313;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23db9f2b' fill-opacity='0.09' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.container{
    position: relative;
}

.container .card{
    display: inline-block;
    position: relative;
    width: 320px;
    height: 450px;
    background-color: #232323;
    border-radius: 20px;
    overflow: hidden;    
}

.container .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #db9f2b;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container .card:after{
    content: 'Nike';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.container .card:hover:before{
    clip-path: circle(300px at 80% -20%);
}
.shoe-card:hover{
    transition: 0.5s;
    background-color: #2b2b2b;
}
.shoe-card:hover .shop-img{
    transform: rotate(-13deg) translateY(-4%);
}
.shop-img{
    transition: 0.5s;
    transform:  rotate(0deg);
}

.img-bx{
    position: absolute;
    transform: translate(-18%, -50%) rotate(-25deg);
    width: 350px;
}

.container .card .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 1;
}

.container .card:hover .contentBx{
    height: 210px;
}

.container .card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
}

.container .card .contentBx .size,
.container .card .contentBx .color{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.container .card:hover .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}
.container .card:hover .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:hover{
    background: #db9f2b;
}

.container .card .contentBx .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2){
    background: #9bdc28;
}
.container .card .contentBx .color span:nth-child(3){
    background: #03a9f4;
}
.container .card .contentBx .color span:nth-child(4){
    background: #e91e63;
}

.container .card .contentBx .add-btn{
    display: inline-block;
    margin-top:  10px;
    text-decoration: none;
    font-weight: 600;
    color: #131313;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.container .card:hover .contentBx .add-btn{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

.a {
    fill: url(#a);
}

nav  .active {
    color: #db9f2b;
}
#menu-toggle:checked + #menu {
    display: block;
  }